acl_anthology==0.5.1
beautifulsoup4==4.13.4
black==25.1.0
dashscope==1.14.1
dill==0.4.0
docker_py==1.10.6
docstring_parser==0.16
expiringdict==1.2.2
faiss_gpu==1.7.2
feedparser==6.0.11
Flask==3.1.0
flask_babel==4.0.0
Flask_Cors==4.0.0
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
grpcio==1.68.1
inputimeout==1.0.4
litellm==1.67.1
llama_index==0.12.33
loguru==0.6.0
matplotlib==3.10.1
modelscope==1.25.0
modelscope_studio==1.2.3
nbclient==0.10.2
nbformat==5.10.4
networkx==3.2.1
nltk==3.9.1
numpy==2.2.5
openai==1.76.0
oss2==2.19.1
pandas==2.2.3
Pillow==11.2.1
protobuf==6.30.2
psutil==6.1.1
pyalex==0.15.1
pydantic==2.11.3
PyJWT==2.8.0
PyJWT==2.10.1
pymongo==4.12.0
pymysql==1.1.1
python-dotenv==1.1.0
python-socketio==5.13.0
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
sentence_transformers==3.3.1
setuptools==75.1.0
SQLAlchemy==2.0.36
tenacity==8.5.0
tiktoken==0.8.0
tqdm==4.67.1
transformers==4.47.1
zhipuai==2.1.5.20250421
